.color-box {
	display: inline-block;
    width: 50px;
    border: 1px black solid;
    height: 18px;
}

.percent-holder {
	width: 100%;
	border: 1px black solid;
	text-align: center;
	background-color: #FFFFFF;
}

.good-percent { background-color: #99FF99; }
.mid-percent { background-color: #FFFF77; }
.bad-percent { background-color: #FF7777; }

.squffy-table td, .squffy-table th {
	height: 25px;
}

.squffy-table td {
	padding-right: 7px;
}